@{
    ViewData["Title"] = "Register";
}
@model login_reg.Models.UserModel
<div class="wrapper">
    <h1>Register</h1>
    <div class="content">
    <form asp-controller="Home" asp-action="Register" method="POST">
        <div class="line">
            <div class="block">
                <label asp-for="FirstName"></label>
            </div>
            <div class="block">
                <input asp-for="FirstName">
            </div>
            <div class="block">
                <div></div>
            </div>
        </div>
        <div class="line">
            <span class="err-message" asp-validation-for="FirstName"></span>
        </div>
        <div class="line">
            <div class="block">
                <label asp-for="LastName"></label>
            </div>
            <div class="block">
                <input asp-for="LastName">
            </div>
            <div class="block">
                <div></div>
            </div>
        </div>
        <div class="line">
            <span class="err-message" asp-validation-for="LastName"></span>
        </div>
        <div class="line">
            <div class="block">
                <label asp-for="Email"></label>
            </div>
            <div class="block">
                <input asp-for="Email">
            </div>
            <div class="block">
                <div></div>
            </div>
        </div>
        <div class="line">
            <span class="err-message" asp-validation-for="Email"></span>
        </div>
        <div class="line">
            <div class="block">
                <label asp-for="Password"></label>
            </div>
            <div class="block">
                <input asp-for="Password">
            </div>
            <div class="block">
                <div></div>
            </div>
        </div>
        <div class="line">
            <span class="err-message" asp-validation-for="Password"></span>
        </div>
        <div class="line">
            <div class="block">
                <label asp-for="Cpassword"></label>
            </div>
            <div class="block">
                <input asp-for="Cpassword">
            </div>
            <div class="block">
                <a href="/login">Already Registered?</a>
            </div>
        </div>
        <div class="line">  
            <span class="err-message" asp-validation-for="Cpassword"></span>
        </div>
    <button type="submit">Submit</button> 
    </form>
    </div>
@Html.Partial("Login")
</div>