<div class="content">
    <div class="registration_form">
        <h4>Register</h4>
        <table>
            <form asp-controller="Home" asp-action="CreateUser" method="POST">
                <tr>
                    <td><label asp-for="FirstName">First Name:</label></td>
                    <td><input placeholder="First Name" asp-for="FirstName"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><span asp-validation-for="FirstName"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="LastName">Last Name:</label></td>
                    <td><input placeholder="Last Name" asp-for="LastName"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><span asp-validation-for="LastName"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="email">Email:</label></td>
                    <td><input placeholder="email"  asp-for="email"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><span asp-validation-for="Email"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="password">Password:</label></td>
                    <td><input placeholder="password" asp-for="password"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><span asp-validation-for="Password"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="cpassword">PW Confirm:</label></td>
                    <td><input type="password" placeholder="confirm password" asp-for="cpassword"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Register"></td>
                </tr>
            </form> 
        </table>
    </div>
    <div class="registration_divider"></div>
    <div class="login_form">
        <h4 class="">Log in</h4>
        <form action="" method='POST'>
        <table>
            <tr>
                <td><label for="email">Email:</label></td>
                <td><input type="text" placeholder='email' name="email" value=""></td>
                <td></td>
            </tr>
            <tr>
                <td><label for="password">Password:</label></td>
                <td><input type="password" placeholder='password' name="password"></td>
                <td><input type="submit" value="Login"></td></form>
            </tr>
        </table>
    </div>
</div>