* {
	margin: 0;
	padding: 0;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.content {
    display: inline-block;
    /* border: 1px solid black; */
    padding: 10px
}

.line {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    min-height: 20px;
    /* border: 1px dashed red; */
}
.block {
    display: inline-block;
    margin: 0 5px;
    flex-basis: 200px;
    /* border: 1px dashed blue; */
}
.err-message {
    color: red;
}
.red {
    color: red;
}

input {
    border-radius: 3px;
    padding: 2px;
}
footer {
	position: fixed;
	bottom: 0;
	padding-left: 14px;
}
.wrapper {
	display: flex;
	width: 100%;
	justify-content: space-around;
}
h3 {
    color: blue;
}
.errors {
    min-height: 12px;
    font-size: 12px;
    color: red;
}
.content {
	display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.registration_divider {
	width: 1px;
	margin: 0 50px;
	border-right: 2px solid grey;
}
.logged_in {
	display: none;
}
.welcome {
	text-align: center;
	transition-duration: 1s;
	animation-name: slide_up;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.error_messages{
	margin: 0 auto;
	color: red;
	text-align: center;
}
.single_post {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
}
@keyframes grow {
	0% {
		transform: scale(1);
	}
	100%{
		transform: scale(1.5);
	}
}
@keyframes slide_up{
	0% {
		transform: translateY(100px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes fade_in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
